* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "GameTitleFont";
    src: url("../fonts/Wearedimdam-OVL2O.ttf");
}

body {
    background-color: burlywood;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 40em;
    height: 40em;
    display: flex;
    margin-top: 4em;
    background-color: black;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.square {
    flex-grow: 1;
    width: 32%;
    height: 33%;
}

.middle {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.top {
    border-bottom: 3px solid white;
}

.bottom {
    border-top: 3px solid white;
}

.symbol {
    font-size: 9em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.score-board {
    margin-top: 2em;
    width: 40em;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.score-board h2 {
    font-size: 3em
}

.score-board p {
    font-size: 2em
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.modal-bg {
      position: absolute;
      background: rgb(22, 22, 22);
      opacity: 0.8;
      width: 100%;
      height: 100%;
    }
.modal-container {
      border-radius: 10px;
      background: #fff;
      position: relative;
      padding: 30px;
      height: auto;
      display: flex;
      flex-direction: column;
    }
.modal-close {
      position: absolute;
      right: 15px;
      top: 15px;
      outline: none;
      appearance: none;
      color: red;
      background: none;
      border: 0px;
      font-weight: bold;
      cursor: pointer;
}

.custom-form {
    min-width: 200px;
    height: auto;
    padding: 5px;
    display: block;
    position: relative;
}

.button {
    padding: 10px;
    width: 100%;
    padding: 10px;
    width: auto;
    text-align: center;
    height: 47px;
    border-color: black;
    border-width: 3px;
    background-color: transparent;
    font-family: fantasy;
    font-size: 20px;
    border-radius: 20px;
}

/* PAGES  */
.start-page{
    font-feature-settings: "rand" 0, "calt" 0;
    display: flex;
    flex-direction: column;
}

.start-page h1 {
    font-family: "GameTitleFont";
    font-size: 8em;
}

/* SELECT PLAYERS */
.select-local-players {
    width: 700px;    
}

.player-selection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: fantasy;
}

.player-selection-container h2{
    font-family: fantasy;
}

.player-selection {
    max-width: 270px;
    max-height: 330px;
    border-radius: 26px;
    padding: 10px;
}

.player-selection:hover {
    border: 5px solid black;
}

.player-selection-img {
    width: 200px;
}

.box{
    margin:25px;
    width:300px;
    height:250px;
    background:#fff;
    border: solid black;
    border-color: black;
    float:left;
    overflow: hidden;
  }
  
.box2{
    width:350px;
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
  }